<% if resource.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show pb-0" id="error_explanation" role="alert">
    <p>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </p>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li class="fs-6 fw-light"><%= message %></li>
      <% end %>
    </ul>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
