<% errors = model.errors %>
<% if errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show pb-0" role="alert">
    <div class="fs-6">
      <p><%= errors.count %> ошибок</p>
      <ul>
        <% errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
