<% errors = model.errors %>
<% if errors.any? %>
  <div class="alert alert-danger pb-0">
    <div class="fs-6">
      <p><%= errors.count %> ошибок</p>
      <ul>
        <% errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
