<div class="modal fade" id="deleteEventModal" tabindex="-1" aria-labelledby="deleteEventModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteEventModalLabel"><%= t('event.delete_event') %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="mb-0"><%= t('event.are_you_sure') %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal"><%= t('global.cancel') %></button>
        <%= button_to t('event.delete_event'), event_path(event), method: :delete, class: 'btn btn-sm btn-danger' %>
      </div>
    </div>
  </div>
</div>
