<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1><%= t('event.editing_event') %></h1>
    <%= turbo_frame_tag 'event' do %>
      <%= render "form", event: @event %>
    <% end %>
  </div>
</div>
