<div class="col">
  <figure class="figure">
    <%= link_to image_tag(photo.photo.thumb.url, class: 'figure-img img-fluid rounded'), photo.photo.url %>
    <figcaption class="figure-caption text-start">
      <%= render partial: 'users/user', object: photo.user %>
    </figcaption>
  </figure>
</div>
